

.overlay-image{
    position: relative;
    width: 100%;
    padding: 0px;
    }
.overlay-image .image {
    display: flex;
    padding: 0px;
    width: 100%;
    height: auto;
    }
    
.overlay-image .card-text {
    color: #fff;
    font-size: 30px;
    line-height: 1.5em;
    text-shadow: 2px 2px 2px #000;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    }
.overlay-image .hover {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
       }
       
.overlay-image:hover .hover {
        opacity: 0.5;
       }
.overlay-image .normal {
    transition: .5s ease;
}
.overlay-image:hover .normal {
    opacity: 0;
}
.overlay-image .hover {
    background-color: rgba(0,0,0,0.7);
}

.thumbnail .overlay-image {
    width: auto;
    height: 100%;
    object-fit: contain;
}

.carousel {
    width:auto; /*container-width*/
    overflow:hidden; /*hide bounds of image */
    height: 600px;
}
.logo{
    height: 120px;
}
#spinner{
    background: #4267b2;
    border-radius: 5px;
    color: white;
    height: 40px;
    text-align: center;
    width: 250px;
}























/* CSS de Sarah*/

.form-bg {
    background-color: lightblue;
    font-family: 'JelleeRoman';
}

h1 {
    text-align: center;
}



.texteAfficherPromenade{    
    background-color: #ffffff;
    color: black;
    opacity: 0.7;
    text-align: center;
    padding-top: 10%; 
    padding-left: 25%; 
    padding-bottom: 10%; 
    padding-right: 25%;
}



.NB {
    font-size: 0.6em;
}

.textArea{
    width:100%;
    min-height: 200px;
}




