.card-body{
    text-emphasis-color: white;
}
.carousel {
    
    width:auto; /*container-width*/
    overflow:hidden; /*hide bounds of image */
    height: 600px;
}
.logo{
    height: 70px;
}
#spinner{
    background: #4267b2;
    border-radius: 5px;
    color: white;
    height: 40px;
    text-align: center;
    width: 250px;
}
body{
font-family: 'JelleeRoman';
}


/* CSS de Sarah*/
.form-bg {
    background-color: lightblue;
    font-family: 'JelleeRoman';
}
h1 {
    text-align: center;
}
.texteAfficherPromenade{    
    background-color: #ffffff;
    color: black;
    opacity: 0.7;
    text-align: center;
    padding-top: 10%; 
    padding-left: 25%; 
    padding-bottom: 10%; 
    padding-right: 25%;
}
.NB {
    font-size: 0.6em;
}
.textArea{
    width:100%;
    min-height: 200px;
}




